.Mainchat
  .Mainchat__top
    .Display
      .Display__left
        .Display__left--groupName
          = @group.name
        .Display__left--groupMember
          Member：
          - @group.users.each do |user|
            = user.name
      = link_to edit_group_path(@group), class: "Display__right" do
        Edit

  .Mainchat__chatSpace
    - @messages.each do |message|
      .MessageBox{data: {message: {id: message.id}}}
        .MessageInfo
          .MessageInfo__name
            = message.user.name
          .MessageInfo__date
            = message.user.created_at.strftime("%Y年%m月%d日 %H時%M分")
        .MessageContent
          - if message.content.present?
            .MessageContent__text
              = message.content
          = image_tag message.image.url, class: 'Message__image' if message.image.present?

  .Mainchat__bottom
    = form_with model: [@group, @message], html: {class: "Form"}, local: true do |f|
      .Form__contents
        = f.text_field :content, class: 'Form__inputContent', placeholder: 'type a message'
        = f.label :image, class: 'Form__inputImage' do
          = icon('far', 'image')
          = f.file_field :image, class: 'Hidden'
      = f.submit 'Send', class: 'Form__submit'
