.Sidebar
  .Sidebar__top
    .Sidebox
      .Sidebox__name
        = current_user.name
      .Sidebox__icon
        = link_to new_group_path, class: "Sidebox__icon--edit" do
          = icon('far', 'edit')
          %span<>
        = link_to edit_user_path(current_user), class: "Sidebox__icon--cog" do
          = icon('fas', 'cog')
  .Sidebar__group-info
    - current_user.groups.each do |group|
      .Group
        = link_to '#', class: "Group__link" do
          .Group__link--name
            = group.name
          .Group__link--text
            メッセージはまだありません
